<div>
    {{#if food}}
    <h1>Aca esta la lista de productos</h1>
    <ul>
    {{#each food}}
   <li><p>{{this.name}}:{{this.price}}</p></li>
    
    {{/each}}
    </ul>
    {{else}}
    <h2>Aun el pedido no esta listo</h2>

    {{/if}}
</div>